html,body {
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
    height: 100%;
    background-color:  #e3f2fd;
    
}
.container-fluid {
    height: 100%;
    display: table;
    max-width: 400px;
    min-height: 100%;
    background-color:  #e3f2fd;
}
.login-form {
    width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: auto;
    vertical-align: middle;
    display: table-cell;
    background-color:  #e3f2fd;
}


.box {
    border: 1px red dotted;
} 
.para-one {
    padding: 10px;
}
.btnborder{
    border-radius: 15px;
}
.btn-success {
    margin-top: 20px;
}
.btnborder img {
    width: 20px;
    height: 20px;
    float: right;
    color: white;
}
.headerone > img {
    width: 100%;
    height: auto;
    align-items: center;
    margin: auto;
}